In [1]:
import pandas as pd
import numpy as np

In [2]:
addresses = [
    ("8809 Flair Square", "Toddside", "IL", "37206"),
    ("9901 Austin Street", "Toddside", "IL", "37206"),
    ("905 Hogan Quarter", "Franklin", "IL", "37206"),
]

In [3]:
pd.MultiIndex.from_tuples(tuples=addresses)

MultiIndex([( '8809 Flair Square', 'Toddside', 'IL', '37206'),
            ('9901 Austin Street', 'Toddside', 'IL', '37206'),
            ( '905 Hogan Quarter', 'Franklin', 'IL', '37206')],
           )

In [4]:
row_index = pd.MultiIndex.from_tuples(
    tuples=addresses,
    names=["Street", "City", "State", "Zip"],
)

In [5]:
row_index

MultiIndex([( '8809 Flair Square', 'Toddside', 'IL', '37206'),
            ('9901 Austin Street', 'Toddside', 'IL', '37206'),
            ( '905 Hogan Quarter', 'Franklin', 'IL', '37206')],
           names=['Street', 'City', 'State', 'Zip'])

In [6]:
data = [
    ["A+", "B+"],
    ["C+", "C-"],
    ["D-", "A"],
]

columns = ["Schools", "Cost of Living"]

area_grades = pd.DataFrame(
    data=data, 
    index=row_index,
    columns=columns,
)

area_grades

                                        Schools Cost of Living
Street             City     State Zip
8809 Flair Square  Toddside IL    37206      A+             B+
9901 Austin Street Toddside IL    37206      C+             C-
905 Hogan Quarter  Franklin IL    37206      D-              A

In [7]:
area_grades.index

MultiIndex([( '8809 Flair Square', 'Toddside', 'IL', '37206'),
            ('9901 Austin Street', 'Toddside', 'IL', '37206'),
            ( '905 Hogan Quarter', 'Franklin', 'IL', '37206')],
           names=['Street', 'City', 'State', 'Zip'])

In [8]:
area_grades.columns

Index(['Schools', 'Cost of Living'], dtype='object')

In [9]:
column_index = pd.MultiIndex.from_tuples(
    [
        ("Culture", "Restaurants"),
        ("Culture", "Museums"),
        ("Services", "Police"),
        ("Services", "Schools"),
    ]
)

column_index

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [10]:
data = [
    ["C-", "B+", "B-", "A"],
    ["D+", "C", "A", "C+"],
    ["A-", "A", "D+", "F"],
]

In [11]:
pd.DataFrame(
    data=data,
    index=row_index,
    columns=column_index,
)

                                            Culture         Services
                                        Restaurants Museums   Police Schools
Street             City     State Zip
8809 Flair Square  Toddside IL    37206          C-      B+       B-       A
9901 Austin Street Toddside IL    37206          D+       C        A      C+
905 Hogan Quarter  Franklin IL    37206          A-       A       D+       F

In [12]:
neighborhoods = pd.read_csv("datasets/neighborhoods.csv")

neighborhoods.head(8)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Culture,Culture.1,Services,Services.1
0,NaN,NaN,NaN,Restaurants,Museums,Police,Schools
1,State,City,Street,NaN,NaN,NaN,NaN
2,MO,Fisherborough,244 Tracy View,C+,F,D-,A+
3,SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
4,WV,Jimenezview,432 John Common,A,A+,F,B
5,AK,Stevenshire,238 Andrew Rue,D-,A,A-,A-
6,ND,New Joshuaport,877 Walter Neck,D+,C-,B,B
7,ID,Wellsville,696 Weber Stravenue,A,B+,C,C-

In [13]:
neighborhoods = pd.read_csv(
    "datasets/neighborhoods.csv",
    index_col=[0, 1, 2],
)

neighborhoods.head(8)

,,,Culture,Culture.1,Services,Services.1
NaN,NaN,NaN,Restaurants,Museums,Police,Schools
State,City,Street,NaN,NaN,NaN,NaN
MO,Fisherborough,244 Tracy View,C+,F,D-,A+
SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
WV,Jimenezview,432 John Common,A,A+,F,B
AK,Stevenshire,238 Andrew Rue,D-,A,A-,A-
ND,New Joshuaport,877 Walter Neck,D+,C-,B,B
ID,Wellsville,696 Weber Stravenue,A,B+,C,C-

In [14]:
neighborhoods = pd.read_csv(
    "datasets/neighborhoods.csv",
    index_col=[0, 1, 2],
    header=[0, 1]
)

neighborhoods.head(8)

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City             Street
MO    Fisherborough    244 Tracy View               C+       F       D-
SD    Port Curtisville 446 Cynthia Inlet            C-       B        B
WV    Jimenezview      432 John Common               A      A+        F
AK    Stevenshire      238 Andrew Rue               D-       A       A-
ND    New Joshuaport   877 Walter Neck              D+      C-        B
ID    Wellsville       696 Weber Stravenue           A      B+        C
TN    Jodiburgh        285 Justin Corners            A       B       B+
DC    Lake Christopher 607 Montoya Harbors           D      B+       B-


                                           Schools
State City             Street
MO    Fisherborough    244 Tracy View           A+
SD    Port Curtisville 446 Cynthia Inlet        D+
WV    Jimenezview      432 John Common           B
AK    Stevenshire      238 Andrew Rue           A-
ND    New Joshuaport   877 Walter Neck           B
ID    Wellsville       696 Weber Stravenue      C-
TN    Jodiburgh        285 Justin Corners       B+
DC    Lake Christopher 607 Montoya Harbors      A+

In [15]:
neighborhoods.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 251 entries, ('MO', 'Fisherborough', '244 Tracy View') to ('NE', 'South Kennethmouth', '346 Wallace Pass')
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Culture, Restaurants)  251 non-null    object
 1   (Culture, Museums)      251 non-null    object
 2   (Services, Police)      251 non-null    object
 3   (Services, Schools)     251 non-null    object
dtypes: object(4)
memory usage: 27.1+ KB

In [16]:
neighborhoods.index

MultiIndex([('MO',      'Fisherborough',        '244 Tracy View'),
            ('SD',   'Port Curtisville',     '446 Cynthia Inlet'),
            ('WV',        'Jimenezview',       '432 John Common'),
            ('AK',        'Stevenshire',        '238 Andrew Rue'),
            ('ND',     'New Joshuaport',       '877 Walter Neck'),
            ('ID',         'Wellsville',   '696 Weber Stravenue'),
            ('TN',          'Jodiburgh',    '285 Justin Corners'),
            ('DC',   'Lake Christopher',   '607 Montoya Harbors'),
            ('OH',          'Port Mike',      '041 Michael Neck'),
            ('ND',         'Hardyburgh', '550 Gilmore Mountains'),
            ...
            ('AK',          'Scottstad',      '114 Jones Garden'),
            ('IA',    'Port Willieport',  '320 Jennifer Mission'),
            ('ME',         'Port Linda',        '692 Hill Glens'),
            ('KS',         'Kaylamouth',       '483 Freeman Via'),
            ('WA',     'Port Shawnfort',    '691 Winters Bridge'),
            ('MI',      'North Matthew',      '055 Clayton Isle'),
            ('MT',            'Chadton',     '601 Richards Road'),
            ('SC',          'Diazmouth',     '385 Robin Harbors'),
            ('VA',         'Laurentown',     '255 Gonzalez Land'),
            ('NE', 'South Kennethmouth',      '346 Wallace Pass')],
           names=['State', 'City', 'Street'], length=251)

In [17]:
neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [18]:
neighborhoods.index.names

FrozenList(['State', 'City', 'Street'])

In [20]:
neighborhoods.index.values[:5]

array([('MO', 'Fisherborough', '244 Tracy View'),
       ('SD', 'Port Curtisville', '446 Cynthia Inlet'),
       ('WV', 'Jimenezview', '432 John Common'),
       ('AK', 'Stevenshire', '238 Andrew Rue'),
       ('ND', 'New Joshuaport', '877 Walter Neck')], dtype=object)

In [21]:
neighborhoods.index.get_level_values(1)

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

In [22]:
neighborhoods.index.get_level_values("City")

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

In [23]:
neighborhoods.columns.names

FrozenList([None, None])

In [24]:
neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [26]:
neighborhoods.columns.names = ["Category", "Subcategory"]

neighborhoods.columns.names

FrozenList(['Category', 'Subcategory'])

In [27]:
neighborhoods.head()

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
State City             Street
MO    Fisherborough    244 Tracy View             C+       F       D-      A+
SD    Port Curtisville 446 Cynthia Inlet          C-       B        B      D+
WV    Jimenezview      432 John Common             A      A+        F       B
AK    Stevenshire      238 Andrew Rue             D-       A       A-      A-
ND    New Joshuaport   877 Walter Neck            D+      C-        B       B

In [28]:
neighborhoods.columns.get_level_values(0)

Index(['Culture', 'Culture', 'Services', 'Services'], dtype='object', name='Category')

In [29]:
neighborhoods.columns.get_level_values("Category")

Index(['Culture', 'Culture', 'Services', 'Services'], dtype='object', name='Category')

In [31]:
neighborhoods.nunique()

Category  Subcategory
Culture   Restaurants    13
          Museums        13
Services  Police         13
          Schools        13
dtype: int64

In [35]:
neighborhoods.sort_index(ascending=[True, False, True])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Stevenshire    238 Andrew Rue                D-       A       A-      A-
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
AL    Vegaside       191 Mindy Meadows             B+      A-       A+      D+
...                                               ...     ...      ...     ...
WY    Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Martintown     013 Bell Mills                C-       D       A-      B-
      Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Hardyburgh     227 Andrew Parkway             D      C-       D-       C

[251 rows x 4 columns]

In [36]:
neighborhoods.sort_index(level="City")  # level=1

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [38]:
neighborhoods.sort_index(level=[1, 2], ascending=[True, False])  # level=["City", "Street"]

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [42]:
neighborhoods.sort_index(axis="columns", ascending=True).head()

Category                                 Culture             Services
Subcategory                              Museums Restaurants   Police Schools
State City             Street
MO    Fisherborough    244 Tracy View          F          C+       D-      A+
SD    Port Curtisville 446 Cynthia Inlet       B          C-        B      D+
WV    Jimenezview      432 John Common        A+           A        F       B
AK    Stevenshire      238 Andrew Rue          A          D-       A-      A-
ND    New Joshuaport   877 Walter Neck        C-          D+        B       B

In [43]:
neighborhoods.sort_index(
    axis="columns", level="Subcategory", ascending=False,
)

,,Category,Services,Culture,Services,Culture
,,Subcategory,Schools,Restaurants,Police,Museums
State,City,Street,,,,
MO,Fisherborough,244 Tracy View,A+,C+,D-,F
SD,Port Curtisville,446 Cynthia Inlet,D+,C-,B,B
WV,Jimenezview,432 John Common,B,A,F,A+
AK,Stevenshire,238 Andrew Rue,A-,D-,A-,A
ND,New Joshuaport,877 Walter Neck,B,D+,B,C-
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,C+,B-,B,C
MT,Chadton,601 Richards Road,D,A-,D+,D
SC,Diazmouth,385 Robin Harbors,D+,F,B-,D
VA,Laurentown,255 Gonzalez Land,D-,C+,F,B-
NE,South Kennethmouth,346 Wallace Pass,A-,C-,A,B-

In [44]:
neighborhoods = neighborhoods.sort_index(ascending=True)

neighborhoods

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
WY    Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Martintown     013 Bell Mills                C-       D       A-      B-
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Reneeshire     717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

## Selecting with a MultiIndex

In [45]:
neighborhoods["Services"]

Subcategory                               Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove         A+       C
      Scottstad      082 Leblanc Freeway       D      B+
                     114 Jones Garden          D       D
      Stevenshire    238 Andrew Rue           A-      A-
AL    Clarkland      430 Douglas Mission      C+      B+
...                                          ...     ...
WY    Lake Nicole    754 Weaver Turnpike       B       D
                     933 Jennifer Burg        A-       C
      Martintown     013 Bell Mills           A-      B-
      Port Jason     624 Faulkner Orchard     C+      C+
      Reneeshire     717 Patel Square          D       A

[251 rows x 2 columns]

In [46]:
neighborhoods[("Services", "Schools")]

State  City            Street
AK     Rowlandchester  386 Rebecca Cove         C
       Scottstad       082 Leblanc Freeway     B+
                       114 Jones Garden         D
       Stevenshire     238 Andrew Rue          A-
AL     Clarkland       430 Douglas Mission     B+
                                               ..
WY     Lake Nicole     754 Weaver Turnpike      D
                       933 Jennifer Burg        C
       Martintown      013 Bell Mills          B-
       Port Jason      624 Faulkner Orchard    C+
       Reneeshire      717 Patel Square         A
Name: (Services, Schools), Length: 251, dtype: object

In [49]:
neighborhoods[("Services", "Schools")].values[:10]

array(['C', 'B+', 'D', 'A-', 'B+', 'F', 'D', 'A+', 'C+', 'B'],
      dtype=object)

In [52]:
columns_needed = [
    ("Services", "Schools"), 
    ("Culture", "Museums")
]

neighborhoods[columns_needed]

Category                                  Services Culture
Subcategory                                Schools Museums
State City           Street
AK    Rowlandchester 386 Rebecca Cove            C      A-
      Scottstad      082 Leblanc Freeway        B+      C-
                     114 Jones Garden            D      D-
      Stevenshire    238 Andrew Rue             A-       A
AL    Clarkland      430 Douglas Mission        B+       F
...                                            ...     ...
WY    Lake Nicole    754 Weaver Turnpike         D      D-
                     933 Jennifer Burg           C      A+
      Martintown     013 Bell Mills             B-       D
      Port Jason     624 Faulkner Orchard       C+       F
      Reneeshire     717 Patel Square            A      B+

[251 rows x 2 columns]

In [53]:
neighborhoods.loc[("TX", "Kingchester", "534 Gordon Falls")]

Category  Subcategory
Culture   Restaurants     C
          Museums        D+
Services  Police          B
          Schools         B
Name: (TX, Kingchester, 534 Gordon Falls), dtype: object

In [54]:
neighborhoods.loc["CA"]

Category                              Culture         Services
Subcategory                       Restaurants Museums   Police Schools
City           Street
Dustinmouth    793 Cynthia Square          A-      A+       C-       A
North Jennifer 303 Alisha Road             D-      C+       C+      A+
Ryanfort       934 David Run                F      B+        F      D-

In [57]:
neighborhoods.loc[("CA", "Dustinmouth")]

Category               Culture         Services
Subcategory        Restaurants Museums   Police Schools
Street
793 Cynthia Square          A-      A+       C-       A

In [58]:
neighborhoods.loc[("CA",), ("Culture",)]

Subcategory                       Restaurants Museums
City           Street
Dustinmouth    793 Cynthia Square          A-      A+
North Jennifer 303 Alisha Road             D-      C+
Ryanfort       934 David Run                F      B+

In [59]:
neighborhoods.loc[("CA", "Dustinmouth"), ("Services", "Schools")]

Street
793 Cynthia Square    A
Name: (Services, Schools), dtype: object

In [65]:
neighborhoods.loc["NE":"NH"]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Barryborough       460 Anna Tunnel               A+      A+        B
      Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+
      South Tara         559 Michael Glens             C-      C-        F

Category
Subcategory                                   Schools
State City               Street
NE    Barryborough       460 Anna Tunnel            A
      Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-
      South Tara         559 Michael Glens          B

In [67]:
start_index_label = ("NE", "Shawnchester")
end_index_label = ("NH", "North Latoya")

neighborhoods.loc[start_index_label:end_index_label]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+

Category
Subcategory                                   Schools
State City               Street
NE    Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-

In [70]:
neighborhoods.loc[("NE", "Shawnchester"):("NH",)]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+
      South Tara         559 Michael Glens             C-      C-        F

Category
Subcategory                                   Schools
State City               Street
NE    Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-
      South Tara         559 Michael Glens          B

In [71]:
neighborhoods.loc[("NE", "Shawnchester"):"NH"]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+
      South Tara         559 Michael Glens             C-      C-        F

Category
Subcategory                                   Schools
State City               Street
NE    Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-
      South Tara         559 Michael Glens          B

In [72]:
neighborhoods.head()

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove             C-      A-       A+       C
      Scottstad      082 Leblanc Freeway           D      C-        D      B+
                     114 Jones Garden             D-      D-        D       D
      Stevenshire    238 Andrew Rue               D-       A       A-      A-
AL    Clarkland      430 Douglas Mission           A       F       C+      B+

In [75]:
neighborhoods.iloc[1, 2]

'D'

In [76]:
neighborhoods.iloc[[25, 30]]

Category                                   Culture         Services
Subcategory                            Restaurants Museums   Police Schools
State City             Street
CT    East Jessicaland 208 Todd Knolls          A+       A       A+      C+
DC    East Lisaview    910 Sandy Ramp           A-      A+        B       B

In [77]:
neighborhoods.iloc[25:30]

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City             Street
CT    East Jessicaland 208 Todd Knolls              A+       A       A+
      New Adrianhaven  048 Brian Cove               A-      C+       A+
      Port Mike        410 Keith Lodge              D-       A       B+
      Sethstad         139 Bailey Grove              C      C-       C+
DC    East Jessica     149 Norman Crossing          A-      C-       C+

Category
Subcategory                                Schools
State City             Street
CT    East Jessicaland 208 Todd Knolls          C+
      New Adrianhaven  048 Brian Cove           D-
      Port Mike        410 Keith Lodge           D
      Sethstad         139 Bailey Grove         A+
DC    East Jessica     149 Norman Crossing      A-

In [78]:
neighborhoods.iloc[25:30, 1:3]

Category                                   Culture Services
Subcategory                                Museums   Police
State City             Street
CT    East Jessicaland 208 Todd Knolls           A       A+
      New Adrianhaven  048 Brian Cove           C+       A+
      Port Mike        410 Keith Lodge           A       B+
      Sethstad         139 Bailey Grove         C-       C+
DC    East Jessica     149 Norman Crossing      C-       C+

In [79]:
neighborhoods.iloc[-4:, -2:]

Category                               Services
Subcategory                              Police Schools
State City        Street
WY    Lake Nicole 933 Jennifer Burg          A-       C
      Martintown  013 Bell Mills             A-      B-
      Port Jason  624 Faulkner Orchard       C+      C+
      Reneeshire  717 Patel Square            D       A

In [85]:
neighborhoods.xs(key="Lake Nicole", axis="rows", level="City") # level=1

Category                      Culture         Services
Subcategory               Restaurants Museums   Police Schools
State Street
OR    650 Angela Track              D      C-        D       F
WY    754 Weaver Turnpike           B      D-        B       D
      933 Jennifer Burg             C      A+       A-       C

In [86]:
neighborhoods.xs(key="Museums", axis="columns", level="Subcategory").head()

Category                                 Culture
State City           Street
AK    Rowlandchester 386 Rebecca Cove         A-
      Scottstad      082 Leblanc Freeway      C-
                     114 Jones Garden         D-
      Stevenshire    238 Andrew Rue            A
AL    Clarkland      430 Douglas Mission       F

In [87]:
neighborhoods.xs(
    key = ("AK", "238 Andrew Rue"), level = ["State", "Street"]
)

Category        Culture         Services
Subcategory Restaurants Museums   Police Schools
City
Stevenshire          D-       A       A-      A-

In [88]:
neighborhoods.xs(
    key = ("AK", "238 Andrew Rue"), level = [0, 2],
)

Category        Culture         Services
Subcategory Restaurants Museums   Police Schools
City
Stevenshire          D-       A       A-      A-

In [90]:
neighborhoods.head(8)

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
      East Bobbyside 294 Mitchell Village          C-      A-       B-       F
      East Connie    943 John Gardens              B+      C-       C+       D
      Kathrynstad    356 Dodson Plains              B      D-        F      A+

In [91]:
new_order = ["City", "State", "Street"]

neighborhoods.reorder_levels(order=new_order).head()

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
City           State Street
Rowlandchester AK    386 Rebecca Cove             C-      A-       A+       C
Scottstad      AK    082 Leblanc Freeway           D      C-        D      B+
                     114 Jones Garden             D-      D-        D       D
Stevenshire    AK    238 Andrew Rue               D-       A       A-      A-
Clarkland      AL    430 Douglas Mission           A       F       C+      B+

In [92]:
neighborhoods.reset_index().head()

Category    State            City               Street     Culture          \
Subcategory                                            Restaurants Museums
0              AK  Rowlandchester     386 Rebecca Cove          C-      A-
1              AK       Scottstad  082 Leblanc Freeway           D      C-
2              AK       Scottstad     114 Jones Garden          D-      D-
3              AK     Stevenshire       238 Andrew Rue          D-       A
4              AL       Clarkland  430 Douglas Mission           A       F

Category    Services
Subcategory   Police Schools
0                 A+       C
1                  D      B+
2                  D       D
3                 A-      A-
4                 C+      B+

In [93]:
neighborhoods.reset_index(col_level="Subcategory").head()

Category                                                   Culture          \
Subcategory State            City               Street Restaurants Museums
0              AK  Rowlandchester     386 Rebecca Cove          C-      A-
1              AK       Scottstad  082 Leblanc Freeway           D      C-
2              AK       Scottstad     114 Jones Garden          D-      D-
3              AK     Stevenshire       238 Andrew Rue          D-       A
4              AL       Clarkland  430 Douglas Mission           A       F

Category    Services
Subcategory   Police Schools
0                 A+       C
1                  D      B+
2                  D       D
3                 A-      A-
4                 C+      B+

In [94]:
neighborhoods.reset_index(col_fill="Address", col_level="Subcategory").head()

Category    Address                                          Culture          \
Subcategory   State            City               Street Restaurants Museums
0                AK  Rowlandchester     386 Rebecca Cove          C-      A-
1                AK       Scottstad  082 Leblanc Freeway           D      C-
2                AK       Scottstad     114 Jones Garden          D-      D-
3                AK     Stevenshire       238 Andrew Rue          D-       A
4                AL       Clarkland  430 Douglas Mission           A       F

Category    Services
Subcategory   Police Schools
0                 A+       C
1                  D      B+
2                  D       D
3                 A-      A-
4                 C+      B+

In [95]:
neighborhoods.reset_index(level="Street").head()

Category                           Street     Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City
AK    Rowlandchester     386 Rebecca Cove          C-      A-       A+       C
      Scottstad       082 Leblanc Freeway           D      C-        D      B+
      Scottstad          114 Jones Garden          D-      D-        D       D
      Stevenshire          238 Andrew Rue          D-       A       A-      A-
AL    Clarkland       430 Douglas Mission           A       F       C+      B+

In [96]:
neighborhoods.head()

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove             C-      A-       A+       C
      Scottstad      082 Leblanc Freeway           D      C-        D      B+
                     114 Jones Garden             D-      D-        D       D
      Stevenshire    238 Andrew Rue               D-       A       A-      A-
AL    Clarkland      430 Douglas Mission           A       F       C+      B+

In [97]:
neighborhoods.reset_index(level="Street", drop=True).tail()

Category              Culture         Services
Subcategory       Restaurants Museums   Police Schools
State City
WY    Lake Nicole           B      D-        B       D
      Lake Nicole           C      A+       A-       C
      Martintown           C-       D       A-      B-
      Port Jason           A-       F       C+      C+
      Reneeshire            B      B+        D       A

In [99]:
neighborhoods = neighborhoods.reset_index()

In [100]:
neighborhoods.head()

Category    State            City               Street     Culture          \
Subcategory                                            Restaurants Museums
0              AK  Rowlandchester     386 Rebecca Cove          C-      A-
1              AK       Scottstad  082 Leblanc Freeway           D      C-
2              AK       Scottstad     114 Jones Garden          D-      D-
3              AK     Stevenshire       238 Andrew Rue          D-       A
4              AL       Clarkland  430 Douglas Mission           A       F

Category    Services
Subcategory   Police Schools
0                 A+       C
1                  D      B+
2                  D       D
3                 A-      A-
4                 C+      B+

In [101]:
neighborhoods.set_index(keys="City").head()

Category       State               Street     Culture         Services
Subcategory                               Restaurants Museums   Police Schools
City
Rowlandchester    AK     386 Rebecca Cove          C-      A-       A+       C
Scottstad         AK  082 Leblanc Freeway           D      C-        D      B+
Scottstad         AK     114 Jones Garden          D-      D-        D       D
Stevenshire       AK       238 Andrew Rue          D-       A       A-      A-
Clarkland         AL  430 Douglas Mission           A       F       C+      B+

In [102]:
neighborhoods.set_index(keys=("Culture", "Museums")).head()

Category           State            City               Street     Culture  \
Subcategory                                                   Restaurants
(Culture, Museums)
A-                    AK  Rowlandchester     386 Rebecca Cove          C-
C-                    AK       Scottstad  082 Leblanc Freeway           D
D-                    AK       Scottstad     114 Jones Garden          D-
A                     AK     Stevenshire       238 Andrew Rue          D-
F                     AL       Clarkland  430 Douglas Mission           A

Category           Services
Subcategory          Police Schools
(Culture, Museums)
A-                       A+       C
C-                        D      B+
D-                        D       D
A                        A-      A-
F                        C+      B+

In [103]:
neighborhoods.set_index(keys=["State", "City"]).head()

Category                           Street     Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City
AK    Rowlandchester     386 Rebecca Cove          C-      A-       A+       C
      Scottstad       082 Leblanc Freeway           D      C-        D      B+
      Scottstad          114 Jones Garden          D-      D-        D       D
      Stevenshire          238 Andrew Rue          D-       A       A-      A-
AL    Clarkland       430 Douglas Mission           A       F       C+      B+