In [3]:
import pandas as pd
import numpy as np

In [96]:
food_data = {
    "Item": ["Banana", "Cucumber", "Orange", "Tomato", "Watermelon"],
    "Type": ["Fruit", "Vegetable", "Fruit", "Vegetable", "Fruit"],
    "Price": [0.99, 1.25, 0.25, 0.33, 3.00],
}

supermarket = pd.DataFrame(data=food_data)

supermarket

         Item       Type  Price
0      Banana      Fruit   0.99
1    Cucumber  Vegetable   1.25
2      Orange      Fruit   0.25
3      Tomato  Vegetable   0.33
4  Watermelon      Fruit   3.00

In [97]:
groups_obj = supermarket.groupby(by="Type")

groups_obj

In [98]:
groups_obj.get_group("Fruit")

         Item   Type  Price
0      Banana  Fruit   0.99
2      Orange  Fruit   0.25
4  Watermelon  Fruit   3.00

In [99]:
groups_obj.get_group("Fruit")["Price"].mean()

np.float64(1.4133333333333333)

In [16]:
groups_obj.get_group("Vegetable")

       Item       Type  Price
1  Cucumber  Vegetable   1.25
3    Tomato  Vegetable   0.33

In [100]:
groups_obj.mean(numeric_only=True)

              Price
Type
Fruit      1.413333
Vegetable  0.790000

In [101]:
fortune = pd.read_csv("datasets/fortune1000.csv")

fortune

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care
...,...,...,...,...,...,...
995,SiteOne Landscape Supply,1862.0,54.6,3664,Wholesalers,Wholesalers: Diversified
996,Charles River Laboratories Intl,1858.0,123.4,11800,Health Care,Health Care: Pharmacy and Other Services
997,CoreLogic,1851.0,152.2,5900,Business Services,Financial Data Services
998,Ensign Group,1849.0,40.5,21301,Health Care,Health Care: Medical Facilities
999,HCP,1848.0,414.2,190,Financials,Real estate

In [22]:
fortune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Revenues   1000 non-null   float64
 2   Profits    998 non-null    float64
 3   Employees  1000 non-null   int64
 4   Sector     1000 non-null   object
 5   Industry   1000 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

In [23]:
fortune.nunique()

Company      1000
Revenues      951
Profits       971
Employees     754
Sector         21
Industry       74
dtype: int64

In [102]:
retail_companies = fortune[fortune["Sector"] == "Retailing"]

retail_companies

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
7,Amazon.com,177866.0,3033.0,566000,Retailing,Internet Services and Retailing
14,Costco,129025.0,2679.0,182000,Retailing,General Merchandisers
22,Home Depot,100904.0,8630.0,413000,Retailing,Specialty Retailers: Other
38,Target,71879.0,2934.0,345000,Retailing,General Merchandisers
...,...,...,...,...,...,...
909,99 Cents Only Stores,2194.0,-90.3,17200,Retailing,Specialty Retailers: Other
926,Express,2138.0,19.4,9576,Retailing,Specialty Retailers: Apparel
971,Finish Line,1934.0,-18.2,8200,Retailing,Specialty Retailers: Apparel
989,Barnes & Noble Education,1874.0,5.4,13375,Retailing,Specialty Retailers: Other
992,Childrens Place,1870.0,84.7,9800,Retailing,Specialty Retailers: Apparel

In [103]:
retail_companies["Revenues"].head()

0     500343.0
7     177866.0
14    129025.0
22    100904.0
38     71879.0
Name: Revenues, dtype: float64

In [104]:
retail_companies["Revenues"].mean()

np.float64(21874.714285714286)

In [105]:
fortune.head()

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care

In [106]:
sectors = fortune.groupby(by="Sector")

sectors

In [107]:
len(sectors)

21

In [108]:
fortune["Sector"].nunique()

21

In [39]:
sectors.size()

Sector
Aerospace & Defense               25
Apparel                           14
Business Services                 53
Chemicals                         33
Energy                           107
Engineering & Construction        27
Financials                       155
Food &  Drug Stores               12
Food, Beverages & Tobacco         37
Health Care                       71
Hotels, Restaurants & Leisure     26
Household Products                28
Industrials                       49
Materials                         45
Media                             25
Motor Vehicles & Parts            19
Retailing                         77
Technology                       103
Telecommunications                10
Transportation                    40
Wholesalers                       44
dtype: int64

In [41]:
sectors.groups.keys()

dict_keys(['Aerospace & Defense', 'Apparel', 'Business Services', 'Chemicals', 'Energy', 'Engineering & Construction', 'Financials', 'Food &  Drug Stores', 'Food, Beverages & Tobacco', 'Health Care', 'Hotels, Restaurants & Leisure', 'Household Products', 'Industrials', 'Materials', 'Media', 'Motor Vehicles & Parts', 'Retailing', 'Technology', 'Telecommunications', 'Transportation', 'Wholesalers'])

In [109]:
fortune.loc[26, "Sector"]

'Aerospace & Defense'

In [110]:
sectors.first()

,Company,Revenues,Profits,Employees,Industry
Sector,,,,,
Aerospace & Defense,Boeing,93392.0,8197.0,140800,Aerospace and Defense
Apparel,Nike,34350.0,4240.0,74400,Apparel
Business Services,ManpowerGroup,21034.0,545.4,29000,Temporary Help
Chemicals,DowDuPont,62683.0,1460.0,98000,Chemicals
Energy,Exxon Mobil,244363.0,19710.0,71200,Petroleum Refining
Engineering & Construction,Fluor,19521.0,191.4,56706,"Engineering, Construction"
Financials,Berkshire Hathaway,242137.0,44940.0,377000,Insurance: Property and Casualty (Stock)
Food & Drug Stores,Kroger,122662.0,1907.0,449000,Food and Drug Stores
"Food, Beverages & Tobacco",PepsiCo,63525.0,4857.0,263000,Food Consumer Products
Health Care,UnitedHealth Group,201159.0,10558.0,260000,Health Care: Insurance and Managed Care
"Hotels, Restaurants & Leisure",Marriott International,22894.0,1372.0,177000,"Hotels, Casinos, Resorts"
Household Products,Procter & Gamble,66217.0,15326.0,95000,Household and Personal Products
Industrials,General Electric,122274.0,-5786.0,313000,Industrial Machinery
Materials,International Paper,23302.0,2144.0,56000,"Packaging, Containers"
Media,Disney,55137.0,8980.0,199000,Entertainment
Motor Vehicles & Parts,General Motors,157311.0,-3864.0,180000,Motor Vehicles and Parts
Retailing,Walmart,500343.0,9862.0,2300000,General Merchandisers
Technology,Apple,229234.0,48351.0,123000,"Computers, Office Equipment"
Telecommunications,AT&T,160546.0,29450.0,254000,Telecommunications
Transportation,UPS,65872.0,4910.0,346415,"Mail, Package, and Freight Delivery"
Wholesalers,McKesson,198533.0,5070.0,64500,Wholesalers: Health Care

In [51]:
sectors.last()

,Company,Revenues,Profits,Employees,Industry
Sector,,,,,
Aerospace & Defense,Aerojet Rocketdyne Holdings,1877.0,-9.2,5157,Aerospace and Defense
Apparel,Wolverine World Wide,2350.0,0.3,3700,Apparel
Business Services,CoreLogic,1851.0,152.2,5900,Financial Data Services
Chemicals,Stepan,1925.0,91.6,2096,Chemicals
Energy,Superior Energy Services,1874.0,-205.9,6400,"Oil and Gas Equipment, Services"
Engineering & Construction,TopBuild,1906.0,158.1,8400,"Engineering, Construction"
Financials,HCP,1848.0,414.2,190,Real estate
Food & Drug Stores,Freds,2064.0,-140.3,7324,Food and Drug Stores
"Food, Beverages & Tobacco",Universal,2071.0,106.3,24000,Tobacco
Health Care,Ensign Group,1849.0,40.5,21301,Health Care: Medical Facilities
"Hotels, Restaurants & Leisure",Vail Resorts,1907.0,210.6,20150,"Hotels, Casinos, Resorts"
Household Products,ACCO Brands,1949.0,131.7,6620,"Home Equipment, Furnishings"
Industrials,Rexnord,1918.0,74.1,8000,Industrial Machinery
Materials,Summit Materials,1933.0,121.8,6000,"Building Materials, Glass"
Media,Tribune Media,1867.0,194.1,6000,Entertainment
Motor Vehicles & Parts,Tower International,2066.0,47.6,7600,Motor Vehicles and Parts
Retailing,Childrens Place,1870.0,84.7,9800,Specialty Retailers: Apparel
Technology,VeriFone Systems,1871.0,-173.8,5600,Financial Data Services
Telecommunications,Zayo Group Holdings,2200.0,85.7,3794,Telecommunications
Transportation,Echo Global Logistics,1943.0,12.6,2453,Transportation and Logistics
Wholesalers,SiteOne Landscape Supply,1862.0,54.6,3664,Wholesalers: Diversified

In [52]:
sectors.nth(0)

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care
5,McKesson,198533.0,5070.0,64500,Wholesalers,Wholesalers: Health Care
8,AT&T,160546.0,29450.0,254000,Telecommunications,Telecommunications
9,General Motors,157311.0,-3864.0,180000,Motor Vehicles & Parts,Motor Vehicles and Parts
16,Kroger,122662.0,1907.0,449000,Food & Drug Stores,Food and Drug Stores
17,General Electric,122274.0,-5786.0,313000,Industrials,Industrial Machinery
26,Boeing,93392.0,8197.0,140800,Aerospace & Defense,Aerospace and Defense
41,Procter & Gamble,66217.0,15326.0,95000,Household Products,Household and Personal Products
43,UPS,65872.0,4910.0,346415,Transportation,"Mail, Package, and Freight Delivery"
44,PepsiCo,63525.0,4857.0,263000,"Food, Beverages & Tobacco",Food Consumer Products
46,DowDuPont,62683.0,1460.0,98000,Chemicals,Chemicals
54,Disney,55137.0,8980.0,199000,Media,Entertainment
88,Nike,34350.0,4240.0,74400,Apparel,Apparel
123,International Paper,23302.0,2144.0,56000,Materials,"Packaging, Containers"
126,Marriott International,22894.0,1372.0,177000,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts"
142,ManpowerGroup,21034.0,545.4,29000,Business Services,Temporary Help
152,Fluor,19521.0,191.4,56706,Engineering & Construction,"Engineering, Construction"

In [53]:
sectors.nth(1)

,Company,Revenues,Profits,Employees,Sector,Industry
6,CVS Health,184765.0,6622.0,203000,Health Care,Health Care: Pharmacy and Other Services
7,Amazon.com,177866.0,3033.0,566000,Retailing,Internet Services and Retailing
10,Ford Motor,156776.0,7602.0,202000,Motor Vehicles & Parts,Motor Vehicles and Parts
11,AmerisourceBergen,153144.0,364.5,19500,Wholesalers,Wholesalers: Health Care
12,Chevron,134533.0,9195.0,51900,Energy,Petroleum Refining
15,Verizon,126034.0,30101.0,155400,Telecommunications,Telecommunications
18,Walgreens Boots Alliance,118214.0,4078.0,290000,Food & Drug Stores,Food and Drug Stores
19,JPMorgan Chase,113899.0,24441.0,252539,Financials,Commercial Banks
21,Alphabet,110855.0,12662.0,80110,Technology,Internet Services and Retailing
47,Archer Daniels Midland,60828.0,1595.0,31300,"Food, Beverages & Tobacco",Food Production
49,FedEx,60319.0,2997.0,357000,Transportation,"Mail, Package, and Freight Delivery"
50,United Technologies,59837.0,4552.0,204700,Aerospace & Defense,Aerospace and Defense
64,Caterpillar,45462.0,754.0,98400,Industrials,Construction and Farm Machinery
97,Time Warner,31271.0,5247.0,26000,Media,Entertainment
130,McDonalds,22820.0,5192.3,235000,"Hotels, Restaurants & Leisure",Food Services
150,Nucor,20252.0,1318.7,25100,Materials,Metals
160,Visa,18358.0,6699.0,15000,Business Services,Financial Data Services
162,Kimberly-Clark,18259.0,2278.0,42000,Household Products,Household and Personal Products
163,AECOM,18203.0,339.4,87000,Engineering & Construction,"Engineering, Construction"
189,Sherwin-Williams,14984.0,1772.3,52695,Chemicals,Chemicals
241,VF,12400.0,614.9,69000,Apparel,Apparel

In [54]:
sectors.nth(2)

,Company,Revenues,Profits,Employees,Sector,Industry
13,Cardinal Health,129976.0,1288.0,40400,Wholesalers,Wholesalers: Health Care
14,Costco,129025.0,2679.0,182000,Retailing,General Merchandisers
20,Fannie Mae,112394.0,2463.0,7200,Financials,Diversified Financials
24,Express Scripts Holding,100065.0,4517.4,26600,Health Care,Health Care: Pharmacy and Other Services
27,Phillips 66,91568.0,5106.0,14600,Energy,Petroleum Refining
29,Microsoft,89950.0,21204.0,124000,Technology,Computer Software
32,Comcast,84526.0,22714.0,164000,Telecommunications,Telecommunications
52,Albertsons Cos.,59678.0,-373.3,273000,Food & Drug Stores,Food and Drug Stores
58,Lockheed Martin,51048.0,2002.0,100000,Aerospace & Defense,Aerospace and Defense
70,American Airlines Group,42207.0,1919.0,126600,Transportation,Airlines
76,Honeywell International,40534.0,1655.0,131000,Industrials,"Electronics, Electrical Equip."
79,Tyson Foods,38260.0,1774.0,122000,"Food, Beverages & Tobacco",Food Production
108,Twenty-First Century Fox,28500.0,2952.0,21700,Media,Entertainment
131,Starbucks,22387.0,2884.7,277000,"Hotels, Restaurants & Leisure",Food Services
147,Lear,20467.0,1313.4,165000,Motor Vehicles & Parts,Motor Vehicles and Parts
183,Colgate-Palmolive,15454.0,2024.0,35900,Household Products,Household and Personal Products
187,Omnicom Group,15274.0,1088.4,77300,Business Services,"Advertising, marketing"
190,PPG Industries,14967.0,1591.0,47200,Chemicals,Chemicals
193,WestRock,14860.0,708.2,44800,Materials,"Packaging, Containers"
210,D.R. Horton,14091.0,1038.4,7735,Engineering & Construction,Homebuilders
331,PVH,8915.0,537.8,28050,Apparel,Apparel

In [55]:
sectors.head(2)

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care
5,McKesson,198533.0,5070.0,64500,Wholesalers,Wholesalers: Health Care
6,CVS Health,184765.0,6622.0,203000,Health Care,Health Care: Pharmacy and Other Services
7,Amazon.com,177866.0,3033.0,566000,Retailing,Internet Services and Retailing
8,AT&T,160546.0,29450.0,254000,Telecommunications,Telecommunications
9,General Motors,157311.0,-3864.0,180000,Motor Vehicles & Parts,Motor Vehicles and Parts
10,Ford Motor,156776.0,7602.0,202000,Motor Vehicles & Parts,Motor Vehicles and Parts
11,AmerisourceBergen,153144.0,364.5,19500,Wholesalers,Wholesalers: Health Care
12,Chevron,134533.0,9195.0,51900,Energy,Petroleum Refining
15,Verizon,126034.0,30101.0,155400,Telecommunications,Telecommunications
16,Kroger,122662.0,1907.0,449000,Food & Drug Stores,Food and Drug Stores
17,General Electric,122274.0,-5786.0,313000,Industrials,Industrial Machinery
18,Walgreens Boots Alliance,118214.0,4078.0,290000,Food & Drug Stores,Food and Drug Stores
19,JPMorgan Chase,113899.0,24441.0,252539,Financials,Commercial Banks
21,Alphabet,110855.0,12662.0,80110,Technology,Internet Services and Retailing
26,Boeing,93392.0,8197.0,140800,Aerospace & Defense,Aerospace and Defense
41,Procter & Gamble,66217.0,15326.0,95000,Household Products,Household and Personal Products
43,UPS,65872.0,4910.0,346415,Transportation,"Mail, Package, and Freight Delivery"
44,PepsiCo,63525.0,4857.0,263000,"Food, Beverages & Tobacco",Food Consumer Products
46,DowDuPont,62683.0,1460.0,98000,Chemicals,Chemicals
47,Archer Daniels Midland,60828.0,1595.0,31300,"Food, Beverages & Tobacco",Food Production
49,FedEx,60319.0,2997.0,357000,Transportation,"Mail, Package, and Freight Delivery"
50,United Technologies,59837.0,4552.0,204700,Aerospace & Defense,Aerospace and Defense
54,Disney,55137.0,8980.0,199000,Media,Entertainment
64,Caterpillar,45462.0,754.0,98400,Industrials,Construction and Farm Machinery
88,Nike,34350.0,4240.0,74400,Apparel,Apparel
97,Time Warner,31271.0,5247.0,26000,Media,Entertainment
123,International Paper,23302.0,2144.0,56000,Materials,"Packaging, Containers"
126,Marriott International,22894.0,1372.0,177000,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts"
130,McDonalds,22820.0,5192.3,235000,"Hotels, Restaurants & Leisure",Food Services
142,ManpowerGroup,21034.0,545.4,29000,Business Services,Temporary Help
150,Nucor,20252.0,1318.7,25100,Materials,Metals
152,Fluor,19521.0,191.4,56706,Engineering & Construction,"Engineering, Construction"
160,Visa,18358.0,6699.0,15000,Business Services,Financial Data Services
162,Kimberly-Clark,18259.0,2278.0,42000,Household Products,Household and Personal Products
163,AECOM,18203.0,339.4,87000,Engineering & Construction,"Engineering, Construction"
189,Sherwin-Williams,14984.0,1772.3,52695,Chemicals,Chemicals
241,VF,12400.0,614.9,69000,Apparel,Apparel

In [57]:
sectors.head(2)

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care
5,McKesson,198533.0,5070.0,64500,Wholesalers,Wholesalers: Health Care
6,CVS Health,184765.0,6622.0,203000,Health Care,Health Care: Pharmacy and Other Services
7,Amazon.com,177866.0,3033.0,566000,Retailing,Internet Services and Retailing
8,AT&T,160546.0,29450.0,254000,Telecommunications,Telecommunications
9,General Motors,157311.0,-3864.0,180000,Motor Vehicles & Parts,Motor Vehicles and Parts
10,Ford Motor,156776.0,7602.0,202000,Motor Vehicles & Parts,Motor Vehicles and Parts
11,AmerisourceBergen,153144.0,364.5,19500,Wholesalers,Wholesalers: Health Care
12,Chevron,134533.0,9195.0,51900,Energy,Petroleum Refining
15,Verizon,126034.0,30101.0,155400,Telecommunications,Telecommunications
16,Kroger,122662.0,1907.0,449000,Food & Drug Stores,Food and Drug Stores
17,General Electric,122274.0,-5786.0,313000,Industrials,Industrial Machinery
18,Walgreens Boots Alliance,118214.0,4078.0,290000,Food & Drug Stores,Food and Drug Stores
19,JPMorgan Chase,113899.0,24441.0,252539,Financials,Commercial Banks
21,Alphabet,110855.0,12662.0,80110,Technology,Internet Services and Retailing
26,Boeing,93392.0,8197.0,140800,Aerospace & Defense,Aerospace and Defense
41,Procter & Gamble,66217.0,15326.0,95000,Household Products,Household and Personal Products
43,UPS,65872.0,4910.0,346415,Transportation,"Mail, Package, and Freight Delivery"
44,PepsiCo,63525.0,4857.0,263000,"Food, Beverages & Tobacco",Food Consumer Products
46,DowDuPont,62683.0,1460.0,98000,Chemicals,Chemicals
47,Archer Daniels Midland,60828.0,1595.0,31300,"Food, Beverages & Tobacco",Food Production
49,FedEx,60319.0,2997.0,357000,Transportation,"Mail, Package, and Freight Delivery"
50,United Technologies,59837.0,4552.0,204700,Aerospace & Defense,Aerospace and Defense
54,Disney,55137.0,8980.0,199000,Media,Entertainment
64,Caterpillar,45462.0,754.0,98400,Industrials,Construction and Farm Machinery
88,Nike,34350.0,4240.0,74400,Apparel,Apparel
97,Time Warner,31271.0,5247.0,26000,Media,Entertainment
123,International Paper,23302.0,2144.0,56000,Materials,"Packaging, Containers"
126,Marriott International,22894.0,1372.0,177000,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts"
130,McDonalds,22820.0,5192.3,235000,"Hotels, Restaurants & Leisure",Food Services
142,ManpowerGroup,21034.0,545.4,29000,Business Services,Temporary Help
150,Nucor,20252.0,1318.7,25100,Materials,Metals
152,Fluor,19521.0,191.4,56706,Engineering & Construction,"Engineering, Construction"
160,Visa,18358.0,6699.0,15000,Business Services,Financial Data Services
162,Kimberly-Clark,18259.0,2278.0,42000,Household Products,Household and Personal Products
163,AECOM,18203.0,339.4,87000,Engineering & Construction,"Engineering, Construction"
189,Sherwin-Williams,14984.0,1772.3,52695,Chemicals,Chemicals
241,VF,12400.0,614.9,69000,Apparel,Apparel

In [58]:
len(sectors.head(2))

42

In [59]:
sectors.tail(2)

,Company,Revenues,Profits,Employees,Sector,Industry
520,Telephone & Data Systems,5044.0,153.0,9900,Telecommunications,Telecommunications
835,Columbia Sportswear,2466.0,105.1,6188,Apparel,Apparel
839,GNC Holdings,2453.0,-148.9,11500,Food & Drug Stores,Food and Drug Stores
861,Wolverine World Wide,2350.0,0.3,3700,Apparel,Apparel
900,Snyders-Lance,2227.0,148.5,5900,"Food, Beverages & Tobacco",Food Consumer Products
907,Zayo Group Holdings,2200.0,85.7,3794,Telecommunications,Telecommunications
920,LCI Industries,2148.0,132.9,9852,Motor Vehicles & Parts,Motor Vehicles and Parts
937,Universal,2071.0,106.3,24000,"Food, Beverages & Tobacco",Tobacco
940,Tower International,2066.0,47.6,7600,Motor Vehicles & Parts,Motor Vehicles and Parts
941,Freds,2064.0,-140.3,7324,Food & Drug Stores,Food and Drug Stores
942,Foundation Building Materials,2061.0,82.5,3782,Wholesalers,Wholesalers: Diversified
946,Central Garden & Pet,2055.0,78.8,4050,Household Products,Household and Personal Products
947,Matson,2047.0,232.0,1947,Transportation,Shipping
957,Griffon,1986.0,14.9,4700,Materials,"Building Materials, Glass"
961,Deluxe,1966.0,230.2,5886,Media,"Publishing, Printing"
963,Kraton,1960.0,97.5,1931,Chemicals,Chemicals
965,Marriott Vacations Worldwide,1952.0,226.8,11000,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts"
966,SPX FLOW,1952.0,46.4,7000,Industrials,Industrial Machinery
967,ACCO Brands,1949.0,131.7,6620,Household Products,"Home Equipment, Furnishings"
968,Echo Global Logistics,1943.0,12.6,2453,Transportation,Transportation and Logistics
972,TransUnion,1934.0,441.2,5100,Business Services,Financial Data Services
974,Summit Materials,1933.0,121.8,6000,Materials,"Building Materials, Glass"
975,Engility Holdings,1932.0,-35.2,8700,Aerospace & Defense,Aerospace and Defense
978,Stepan,1925.0,91.6,2096,Chemicals,Chemicals
980,Cimarex Energy,1918.0,494.3,910,Energy,"Mining, Crude-Oil Production"
981,Rexnord,1918.0,74.1,8000,Industrials,Industrial Machinery
982,Beazer Homes USA,1916.0,31.8,1100,Engineering & Construction,Homebuilders
983,MKS Instruments,1916.0,339.1,4923,Technology,Semiconductors and Other Electronic Components
984,Vail Resorts,1907.0,210.6,20150,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts"
986,TopBuild,1906.0,158.1,8400,Engineering & Construction,"Engineering, Construction"
987,Brown & Brown,1881.0,399.6,8491,Financials,Insurance: Property and Casualty (Stock)
988,Aerojet Rocketdyne Holdings,1877.0,-9.2,5157,Aerospace & Defense,Aerospace and Defense
989,Barnes & Noble Education,1874.0,5.4,13375,Retailing,Specialty Retailers: Other
990,Superior Energy Services,1874.0,-205.9,6400,Energy,"Oil and Gas Equipment, Services"
991,VeriFone Systems,1871.0,-173.8,5600,Technology,Financial Data Services
992,Childrens Place,1870.0,84.7,9800,Retailing,Specialty Retailers: Apparel
993,Tribune Media,1867.0,194.1,6000,Media,Entertainment
995,SiteOne Landscape Supply,1862.0,54.6,3664,Wholesalers,Wholesalers: Diversified
996,Charles River Laboratories Intl,1858.0,123.4,11800,Health Care,Health Care: Pharmacy and Other Services
997,CoreLogic,1851.0,152.2,5900,Business Services,Financial Data Services
998,Ensign Group,1849.0,40.5,21301,Health Care,Health Care: Medical Facilities
999,HCP,1848.0,414.2,190,Financials,Real estate

In [60]:
len(sectors.tail(2))

42

In [61]:
sectors.get_group("Energy").head()

,Company,Revenues,Profits,Employees,Sector,Industry
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
12,Chevron,134533.0,9195.0,51900,Energy,Petroleum Refining
27,Phillips 66,91568.0,5106.0,14600,Energy,Petroleum Refining
30,Valero Energy,88407.0,4065.0,10015,Energy,Petroleum Refining
40,Marathon Petroleum,67610.0,3432.0,43800,Energy,Petroleum Refining

In [64]:
sectors.sum(numeric_only=True).head(10)

                             Revenues   Profits  Employees
Sector
Aerospace & Defense          383835.0   26733.5    1010124
Apparel                      101157.3    6350.7     355699
Business Services            316090.0   37179.2    1593999
Chemicals                    251151.0   20475.0     474020
Energy                      1543507.2   85369.6     981207
Engineering & Construction   172782.0    7121.0     420745
Financials                  2442480.0  264253.5    3500119
Food &  Drug Stores          405468.0    8440.3    1398074
Food, Beverages & Tobacco    510232.0   54902.5    1079316
Health Care                 1507991.4   92791.1    2971189

In [65]:
sectors.get_group("Aerospace & Defense").head()

,Company,Revenues,Profits,Employees,Sector,Industry
26,Boeing,93392.0,8197.0,140800,Aerospace & Defense,Aerospace and Defense
50,United Technologies,59837.0,4552.0,204700,Aerospace & Defense,Aerospace and Defense
58,Lockheed Martin,51048.0,2002.0,100000,Aerospace & Defense,Aerospace and Defense
98,General Dynamics,30973.0,2912.0,98600,Aerospace & Defense,Aerospace and Defense
117,Northrop Grumman,25803.0,2015.0,70000,Aerospace & Defense,Aerospace and Defense

In [69]:
sectors.get_group("Aerospace & Defense").loc[:, "Revenues"].sum()

np.float64(383835.0)

In [71]:
sectors.mean(numeric_only=True).head()

                         Revenues      Profits     Employees
Sector
Aerospace & Defense  15353.400000  1069.340000  40404.960000
Apparel               7225.521429   453.621429  25407.071429
Business Services     5963.962264   701.494340  30075.452830
Chemicals             7610.636364   620.454545  14364.242424
Energy               14425.300935   805.373585   9170.158879

In [72]:
sectors["Revenues"].head()

0      500343.0
1      244363.0
2      242137.0
3      229234.0
4      201159.0
         ...
279     10774.0
296     10023.0
331      8915.0
420      6653.0
432      6478.0
Name: Revenues, Length: 105, dtype: float64

In [73]:
sectors["Revenues"].sum().head()

Sector
Aerospace & Defense     383835.0
Apparel                 101157.3
Business Services       316090.0
Chemicals               251151.0
Energy                 1543507.2
Name: Revenues, dtype: float64

In [76]:
sectors["Revenues"].sum().loc["Energy"]

np.float64(1543507.2)

In [77]:
sectors["Employees"].mean().head()

Sector
Aerospace & Defense    40404.960000
Apparel                25407.071429
Business Services      30075.452830
Chemicals              14364.242424
Energy                  9170.158879
Name: Employees, dtype: float64

In [78]:
sectors["Profits"].max().head()

Sector
Aerospace & Defense     8197.0
Apparel                 4240.0
Business Services       6699.0
Chemicals               3000.4
Energy                 19710.0
Name: Profits, dtype: float64

In [79]:
aggregations = {
    "Revenues": "min",
    "Profits": "max",
    "Employees": "mean",
}

sectors.agg(func=aggregations).head()

                     Revenues  Profits     Employees
Sector
Aerospace & Defense    1877.0   8197.0  40404.960000
Apparel                2350.0   4240.0  25407.071429
Business Services      1851.0   6699.0  30075.452830
Chemicals              1925.0   3000.4  14364.242424
Energy                 1874.0  19710.0   9170.158879

In [80]:
fortune.nlargest(n=5, columns="Profits")

,Company,Revenues,Profits,Employees,Sector,Industry
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
15,Verizon,126034.0,30101.0,155400,Telecommunications,Telecommunications
8,AT&T,160546.0,29450.0,254000,Telecommunications,Telecommunications
19,JPMorgan Chase,113899.0,24441.0,252539,Financials,Commercial Banks

In [86]:
new_fortune = fortune.nlargest(n=5, columns="Profits")

new_fortune = new_fortune.reset_index(drop=True)

new_fortune

,Company,Revenues,Profits,Employees,Sector,Industry
0,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
1,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
2,Verizon,126034.0,30101.0,155400,Telecommunications,Telecommunications
3,AT&T,160546.0,29450.0,254000,Telecommunications,Telecommunications
4,JPMorgan Chase,113899.0,24441.0,252539,Financials,Commercial Banks

In [111]:
sectors.apply(
    func=lambda df: df.nlargest(1, "Revenues"), 
    include_groups=False
)

,,Company,Revenues,Profits,Employees,Industry
Sector,,,,,,
Aerospace & Defense,26,Boeing,93392.0,8197.0,140800,Aerospace and Defense
Apparel,88,Nike,34350.0,4240.0,74400,Apparel
Business Services,142,ManpowerGroup,21034.0,545.4,29000,Temporary Help
Chemicals,46,DowDuPont,62683.0,1460.0,98000,Chemicals
Energy,1,Exxon Mobil,244363.0,19710.0,71200,Petroleum Refining
Engineering & Construction,152,Fluor,19521.0,191.4,56706,"Engineering, Construction"
Financials,2,Berkshire Hathaway,242137.0,44940.0,377000,Insurance: Property and Casualty (Stock)
Food & Drug Stores,16,Kroger,122662.0,1907.0,449000,Food and Drug Stores
"Food, Beverages & Tobacco",44,PepsiCo,63525.0,4857.0,263000,Food Consumer Products
Health Care,4,UnitedHealth Group,201159.0,10558.0,260000,Health Care: Insurance and Managed Care
"Hotels, Restaurants & Leisure",126,Marriott International,22894.0,1372.0,177000,"Hotels, Casinos, Resorts"
Household Products,41,Procter & Gamble,66217.0,15326.0,95000,Household and Personal Products
Industrials,17,General Electric,122274.0,-5786.0,313000,Industrial Machinery
Materials,123,International Paper,23302.0,2144.0,56000,"Packaging, Containers"
Media,54,Disney,55137.0,8980.0,199000,Entertainment
Motor Vehicles & Parts,9,General Motors,157311.0,-3864.0,180000,Motor Vehicles and Parts
Retailing,0,Walmart,500343.0,9862.0,2300000,General Merchandisers
Technology,3,Apple,229234.0,48351.0,123000,"Computers, Office Equipment"
Telecommunications,8,AT&T,160546.0,29450.0,254000,Telecommunications
Transportation,43,UPS,65872.0,4910.0,346415,"Mail, Package, and Freight Delivery"
Wholesalers,5,McKesson,198533.0,5070.0,64500,Wholesalers: Health Care

In [89]:
fortune.head()

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care

In [112]:
sector_and_industry = fortune.groupby(by=["Sector", "Industry"])

In [113]:
sector_and_industry.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            25
Apparel              Apparel                                          14
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         2
                                                                      ..
Transportation       Trucking, Truck Leasing                          11
Wholesalers          Wholesalers: Diversified                         24
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
                     Wholesalers: Health Care                          6
Length: 82, dtype: int64

In [114]:
sector_and_industry.get_group(("Business Services", "Education"))

,Company,Revenues,Profits,Employees,Sector,Industry
567,Laureate Education,4378.0,91.5,54500,Business Services,Education
810,Graham Holdings,2592.0,302.0,16153,Business Services,Education

In [115]:
sector_and_industry.sum(numeric_only=True).head()

                                                      Revenues  Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense             383835.0  26733.5
Apparel             Apparel                           101157.3   6350.7
Business Services   Advertising, marketing             23156.0   1667.4
                    Diversified Outsourcing Services   74175.0   5043.7
                    Education                           6970.0    393.5

                                                      Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense               1010124
Apparel             Apparel                              355699
Business Services   Advertising, marketing               127500
                    Diversified Outsourcing Services     858600
                    Education                             70653

In [117]:
sector_and_industry["Revenues"].mean(numeric_only=True).head(5)

Sector               Industry
Aerospace & Defense  Aerospace and Defense               15353.400000
Apparel              Apparel                              7225.521429
Business Services    Advertising, marketing              11578.000000
                     Diversified Outsourcing Services     5298.214286
                     Education                            3485.000000
Name: Revenues, dtype: float64