In [1]:
import pandas as pd
import numpy as np

In [3]:
cereals = pd.read_csv("datasets/cereals.csv")

cereals.head(10)

                        Name    Manufacturer  Type  Calories  Fiber  Sugars
0                  100% Bran         Nabisco  Cold        70   10.0       6
1          100% Natural Bran     Quaker Oats  Cold       120    2.0       8
2                   All-Bran       Kellogg's  Cold        70    9.0       5
3  All-Bran with Extra Fiber       Kellogg's  Cold        50   14.0       0
4             Almond Delight  Ralston Purina  Cold       110    1.0       8
5    Apple Cinnamon Cheerios   General Mills  Cold       110    1.5      10
6                Apple Jacks       Kellogg's  Cold       110    1.0      14
7                    Basic 4   General Mills  Cold       130    2.0       8
8                  Bran Chex  Ralston Purina  Cold        90    4.0       6
9                Bran Flakes            Post  Cold        90    5.0       5

In [4]:
cereals.nunique()

Name            77
Manufacturer     7
Type             2
Calories        11
Fiber           13
Sugars          17
dtype: int64

In [5]:
groups_manufacture = cereals.groupby(by="Manufacturer")

groups_manufacture.groups

{'American Home Food Products': [43], 'General Mills': [5, 7, 11, 12, 13, 14, 18, 22, 31, 36, 40, 42, 47, 51, 59, 69, 70, 71, 72, 73, 75, 76], 'Kellogg's': [2, 3, 6, 16, 17, 19, 21, 24, 25, 26, 28, 38, 39, 46, 48, 49, 50, 53, 58, 60, 62, 66, 67], 'Nabisco': [0, 20, 63, 64, 65, 68], 'Post': [9, 27, 29, 30, 32, 33, 34, 37, 52], 'Quaker Oats': [1, 10, 35, 41, 54, 55, 56, 57], 'Ralston Purina': [4, 8, 15, 23, 44, 45, 61, 74]}

In [10]:
len(groups_manufacture)

7

In [6]:
groups_manufacture.size()

Manufacturer
American Home Food Products     1
General Mills                  22
Kellogg's                      23
Nabisco                         6
Post                            9
Quaker Oats                     8
Ralston Purina                  8
dtype: int64

In [9]:
groups_manufacture.sum(numeric_only=True)

                             Calories  Fiber  Sugars
Manufacturer
American Home Food Products       100    0.0       3
General Mills                    2450   28.0     175
Kellogg's                        2500   63.0     174
Nabisco                           520   24.0      11
Post                              980   25.0      79
Quaker Oats                       760   10.7      42
Ralston Purina                    920   15.0      49

In [11]:
groups_manufacture.get_group("Nabisco")

                         Name Manufacturer  Type  Calories  Fiber  Sugars
0                   100% Bran      Nabisco  Cold        70   10.0       6
20     Cream of Wheat (Quick)      Nabisco   Hot       100    1.0       0
63             Shredded Wheat      Nabisco  Cold        80    3.0       0
64     Shredded Wheat 'n'Bran      Nabisco  Cold        90    4.0       0
65  Shredded Wheat spoon size      Nabisco  Cold        90    3.0       0
68    Strawberry Fruit Wheats      Nabisco  Cold        90    3.0       5

In [13]:
groups_manufacture.mean(numeric_only=True)

                               Calories     Fiber    Sugars
Manufacturer
American Home Food Products  100.000000  0.000000  3.000000
General Mills                111.363636  1.272727  7.954545
Kellogg's                    108.695652  2.739130  7.565217
Nabisco                       86.666667  4.000000  1.833333
Post                         108.888889  2.777778  8.777778
Quaker Oats                   95.000000  1.337500  5.250000
Ralston Purina               115.000000  1.875000  6.125000

In [15]:
groups_manufacture["Sugars"].max()

Manufacturer
American Home Food Products     3
General Mills                  14
Kellogg's                      15
Nabisco                         6
Post                           15
Quaker Oats                    12
Ralston Purina                 11
Name: Sugars, dtype: int64

In [16]:
groups_manufacture["Fiber"].min()

Manufacturer
American Home Food Products    0.0
General Mills                  0.0
Kellogg's                      0.0
Nabisco                        1.0
Post                           0.0
Quaker Oats                    0.0
Ralston Purina                 0.0
Name: Fiber, dtype: float64

In [17]:
cereals.head(10)

                        Name    Manufacturer  Type  Calories  Fiber  Sugars
0                  100% Bran         Nabisco  Cold        70   10.0       6
1          100% Natural Bran     Quaker Oats  Cold       120    2.0       8
2                   All-Bran       Kellogg's  Cold        70    9.0       5
3  All-Bran with Extra Fiber       Kellogg's  Cold        50   14.0       0
4             Almond Delight  Ralston Purina  Cold       110    1.0       8
5    Apple Cinnamon Cheerios   General Mills  Cold       110    1.5      10
6                Apple Jacks       Kellogg's  Cold       110    1.0      14
7                    Basic 4   General Mills  Cold       130    2.0       8
8                  Bran Chex  Ralston Purina  Cold        90    4.0       6
9                Bran Flakes            Post  Cold        90    5.0       5

In [21]:
groups_manufacture.apply(
    func=lambda df: df.nsmallest(1, "Sugars"), 
    include_groups=False
)

,,Name,Type,Calories,Fiber,Sugars
Manufacturer,,,,,,
American Home Food Products,43,Maypo,Hot,100,0.0,3
General Mills,11,Cheerios,Cold,110,2.0,1
Kellogg's,3,All-Bran with Extra Fiber,Cold,50,14.0,0
Nabisco,20,Cream of Wheat (Quick),Hot,100,1.0,0
Post,33,Grape-Nuts,Cold,110,3.0,3
Quaker Oats,57,Quaker Oatmeal,Hot,100,2.7,-1
Ralston Purina,61,Rice Chex,Cold,110,0.0,2