In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series()

Series([], dtype: object)

In [3]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin"
]

In [4]:
ice_cream_flavors

['Chocolate', 'Vanilla', 'Strawberry', 'Rum Raisin']

In [6]:
pd.Series(data=ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

## index position / index label

In addition to an index position, we can assign each Series value an index label. Index labels can be of any immutable data type: strings, tuples, datetimes, and more. This flexibility makes a Series powerful: we can reference a value by its order or by a key/label. In a sense, each value has two identifiers.

If we do not pass an argument to the parameter, pandas defaults to a numeric index starting from 0. With this type of index, the label and the position identifiers are one and the same.

We can pass objects of different data types to the data and index parameters, but they must have the same length so that pandas can associate their values.

In [7]:
days_of_week = ("Monday", "Tuesday", "Wednesday", "Thursday")

In [9]:
cho_ser = pd.Series(
    data=ice_cream_flavors,
    index=days_of_week,
)

In [10]:
cho_ser

Monday        Chocolate
Tuesday         Vanilla
Wednesday    Strawberry
Thursday     Rum Raisin
dtype: object

## Point

Even though the index consists of string labels, pandas still assigns each Series value an index position. In other words, we can access the value "Vanilla" either by the index label "Tuesday" or by index position 1.

In [12]:
cho_ser["Tuesday"]

'Vanilla'

In [14]:
cho_ser.iloc[1]

'Vanilla'

In [15]:
cho_ser.loc["Tuesday"]

'Vanilla'

## Duplicate index

The index permits duplicates, a detail that distinguishes a Series from a Python dictionary.

Although pandas permits duplicates, it is ideal to avoid them whenever possible, because a unique index allows the library to locate index labels more quickly.

In [16]:
pd.Series(
    data=ice_cream_flavors,
    index=("Monday", "Tuesday", "Wednesday", "Tuesday"),
)

Monday        Chocolate
Tuesday         Vanilla
Wednesday    Strawberry
Tuesday      Rum Raisin
dtype: object

For most data types, pandas will display a predictable type (such as bool, float, or int). For strings and more-complex objects (such as nested data structures), pandas will show dtype: object.

In [17]:
pd.Series([True, False, False])

0     True
1    False
2    False
dtype: bool

In [18]:
pd.Series(
    [985.32, 950.44],
    index=("Open", "Close"),
)

Open     985.32
Close    950.44
dtype: float64

In [19]:
pd.Series([4, 8, 16, 32])

0     4
1     8
2    16
3    32
dtype: int64

In [21]:
pd.Series(
    [4, 8, 16, 32],
    dtype="float",
)

0     4.0
1     8.0
2    16.0
3    32.0
dtype: float64

## Missing value

When pandas sees a missing value during a file import, the library substitutes NumPyâ€™s nan object. The acronym nan is short for not a number and is a catch-all term for an undefined value. In other words, nan is a placeholder object that represents nullness or absence.

In [22]:
temperatures = [94, 88, np.nan, 91]

pd.Series(data=temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

Notice that the Series dtype is float64. Pandas automatically converts numeric values from integers to floating-points when it spots a nan value; this internal techni-cal requirement allows the library to store numeric values and missing values in the same homogeneous Series.

In [23]:
calorie_info = {
    "Cereal": 125,
    "Chocolate Bar": 406,
    "Ice Cream Sundae": 342,
}

diet = pd.Series(data=calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [24]:
random_data = np.random.randint(1, 101, 10)

random_data

array([32, 92, 55, 11, 10, 24, 99, 61, 77, 96])

In [25]:
pd.Series(random_data)

0    32
1    92
2    55
3    11
4    10
5    24
6    99
7    61
8    77
9    96
dtype: int64

## Series Attribute

1. values
2. dtype
3. index
4. shape
5. size
6. is_unique
7. is_monotonic_increasing
8. is_monotonic_decreasing

In [26]:
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [27]:
diet.values

array([125, 406, 342])

In [28]:
diet.dtype

dtype('int64')

In [29]:
type(diet.values)

numpy.ndarray

In [30]:
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [31]:
type(diet.index)

pandas.core.indexes.base.Index

In [32]:
diet.shape

(3,)

In [33]:
diet.size

3

In [34]:
diet.is_unique

True

In [35]:
pd.Series(data=[1, 2, 3, 2]).is_unique

False

In [36]:
pd.Series(data=[1, 2, 5, 10]).is_monotonic_increasing

True

In [37]:
pd.Series(data=[1, 2, 5, 10]).is_monotonic_decreasing

False

In [38]:
pd.Series(data=[1, 9, 5, 10]).is_monotonic_increasing

False

In [39]:
pd.Series(data=[1, 9, 5, 10]).is_monotonic_decreasing

False

## Series Methods

1. head
2. tail
3. sum
4. product
5. cumsum
6. pct_change
7. mean
8. median
9. max
10. min
11. describe

In [40]:
nums_5 = pd.Series(data=range(0, 500, 5))

nums_5

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [43]:
nums_5.head(n=3)

0     0
1     5
2    10
dtype: int64

In [44]:
nums_5.tail(4)

96    480
97    485
98    490
99    495
dtype: int64

In [45]:
nums_5.head()

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [47]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])

numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [48]:
numbers.count()

np.int64(5)

### Caution:

Most mathematical methods ignore missing values by default. We can pass an argument of False to the skipna parameter to force the inclusion of missing values.

In [51]:
numbers.sum(skipna=False)

np.float64(nan)

In [52]:
numbers.sum(skipna=True)

np.float64(15.0)

In [60]:
numbers.sum(min_count=1)

np.float64(15.0)

In [58]:
numbers.sum(min_count=6)

np.float64(nan)

In [59]:
numbers.sum(min_count=7)

np.float64(nan)

In [61]:
numbers.product()

np.float64(120.0)

In [62]:
numbers.product(skipna=False)

np.float64(nan)

In [63]:
numbers.product(min_count=3)

np.float64(120.0)

In [65]:
numbers.cumsum(skipna=True)

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [66]:
numbers.cumsum(skipna=False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [67]:
numbers.pct_change()

/tmp/ipykernel_48431/527026991.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [68]:
numbers.mean(), numbers.median(), numbers.std(), numbers.max(), numbers.min()

(np.float64(3.0),
 np.float64(3.0),
 np.float64(1.5811388300841898),
 np.float64(5.0),
 np.float64(1.0))

In [69]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### Caution

The sample method selects a random assortment of values from the Series. It is possible for the order of values to differ between the new Series and the original Series. In the next example, notice that the lack of NaN values from the random selection allows pandas to return a Series of integers. If NaN was even one of the values, pandas would return a Series of floats instead.

In [70]:
numbers.sample(2)

5    5.0
0    1.0
dtype: float64

In [72]:
# if NaN, float instead
numbers.sample(3)

1    2.0
2    3.0
0    1.0
dtype: float64

In [73]:
authors = pd.Series(
    ["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"]
)

authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [76]:
authors.nunique()

4

In [77]:
authors.nunique() == len(authors.unique())

True

## Arithmetic operations

In [80]:
s1 = pd.Series(data=[5, np.nan, 15], index=tuple("ABC"))

In [81]:
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [82]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [84]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [83]:
s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64

In [86]:
# the original s1 doesn't be changed!
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [87]:
s1 - 5

A     0.0
B     NaN
C    10.0
dtype: float64

In [88]:
s1.sub(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [89]:
s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64

In [90]:
s1.mul(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [97]:
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [92]:
s1 % 3

A    2.0
B    NaN
C    0.0
dtype: float64

In [98]:
# When we use the + operator with the two Series as operands, pandas adds the values at the same index positions
s2 = pd.Series([1, 2, 3], index=list("ABC"))

s3 = pd.Series([4, 5, 6], index=list("CBA"))

s2 + s3

A    7
B    7
C    7
dtype: int64

In [99]:
# Note that pandas considers a nan value to be unequal to another nan; 
# it cannot assume that an absent value is equal to another absent value.
s4 = pd.Series([3, 6, np.nan, 12])

s5 = pd.Series([3, 6, np.nan, 12])

s4.eq(s5)

0     True
1     True
2    False
3     True
dtype: bool

In [100]:
s4 == s5

0     True
1     True
2    False
3     True
dtype: bool

In [101]:
s6 = pd.Series(data = [5, 10, 15], index = ["A", "B", "C"])
s7 = pd.Series(data = [4, 8, 12, 14], index = ["B", "C", "D", "E"])

s6 + s7

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

## Python's built-in

In [102]:
cities = pd.Series(data = ["San Francisco", "Los Angeles", "Las Vegas", np.nan])

In [104]:
# The len function returns the number of rows in a Series. The count includes missing values (NaNs)
len(cities), cities.count()

(4, np.int64(3))

In [105]:
type(cities)

pandas.core.series.Series

In [106]:
dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__firstlineno__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [107]:
list(cities)

['San Francisco', 'Los Angeles', 'Las Vegas', nan]

In [108]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas', 3: nan}

In [109]:
cities

0    San Francisco
1      Los Angeles
2        Las Vegas
3              NaN
dtype: object

In [110]:
"Las Vegas" in cities

False

In [111]:
cities.values

array(['San Francisco', 'Los Angeles', 'Las Vegas', nan], dtype=object)

In [112]:
"Las Vegas" in cities.values

True

In [116]:
2 in cities, 2 in cities.index

(True, True)

In [117]:
100 not in cities, "Pairs" not in cities.values

(True, True)

## Coding Challenge

In [119]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman",
]
strength_levels = (100, 120, 90, 95, 110, 120)

In [121]:
h1 = pd.Series(data=superheroes)

l1 = pd.Series(data=strength_levels)

In [122]:
heros = pd.Series(data=strength_levels, index=superheroes)

In [123]:
heros

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [124]:
heros.head(n=2)

Batman      100
Superman    120
dtype: int64

In [125]:
heros.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [127]:
heros.nunique(), len(heros.unique())

(5, 5)

In [128]:
heros.mean()

np.float64(105.83333333333333)

In [129]:
heros.max(), heros.min()

(np.int64(120), np.int64(90))

In [130]:
heros * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [131]:
dict(heros)

{'Batman': np.int64(100),
 'Superman': np.int64(120),
 'Spider-Man': np.int64(90),
 'Iron Man': np.int64(95),
 'Captain America': np.int64(110),
 'Wonder Woman': np.int64(120)}