In [2]:
import pandas as pd
import numpy as np

In [138]:
nba_df = pd.read_csv(
    "nba.csv", 
    parse_dates=["Birthday"],
)

nba_df

/tmp/ipykernel_92263/3071510987.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba_df = pd.read_csv(

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [57]:
nba_df.dtypes

Name                object
Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object

In [58]:
nba_df.dtypes.value_counts()

object            3
datetime64[ns]    1
int64             1
Name: count, dtype: int64

In [139]:
nba_df.index

RangeIndex(start=0, stop=450, step=1)

In [60]:
nba_df.columns

Index(['Name', 'Team', 'Position', 'Birthday', 'Salary'], dtype='object')

In [61]:
nba_df.ndim

2

In [62]:
nba_df.shape

(450, 5)

In [63]:
nba_df.size

2250

In [64]:
nba_df.count()

Name        450
Team        450
Position    450
Birthday    450
Salary      450
dtype: int64

In [65]:
nba_df.count().sum()

np.int64(2250)

In [66]:
data_nan = {
    "A": [1, np.nan, 2],
    "B": [3, 4, np.nan],
}

nan_df = pd.DataFrame(data_nan)
nan_df

     A    B
0  1.0  3.0
1  NaN  4.0
2  2.0  NaN

In [67]:
nan_df.size

6

In [41]:
nan_df.count()

A    2
B    2
dtype: int64

In [42]:
nan_df.count().sum()

np.int64(4)

In [68]:
nba_df.head()

             Name                Team Position   Birthday   Salary
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26  1445697
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
2   PJ Washington   Charlotte Hornets       PF 1998-08-23  3831840
3    Derrick Rose     Detroit Pistons       PG 1988-10-04  7317074
4   Marial Shayok  Philadelphia 76ers        G 1995-07-26    79568

In [69]:
nba_df.tail()

              Name                 Team Position   Birthday    Salary
445  Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446    Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447    Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448  Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449    Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

In [70]:
nba_df.sample(3)

                Name                  Team Position   Birthday    Salary
162  Jerome Robinson  Los Angeles Clippers       SG 1997-02-22   3567720
141   Reggie Jackson       Detroit Pistons       PG 1990-04-16  18086956
291    Miles Bridges     Charlotte Hornets       SF 1998-03-21   3755400

In [71]:
nba_df.nunique()

Name        450
Team         30
Position      9
Birthday    430
Salary      269
dtype: int64

In [72]:
nba_df.max()

Name             Zylan Cheatham
Team         Washington Wizards
Position                     SG
Birthday    2000-12-23 00:00:00
Salary                 40231758
dtype: object

In [73]:
nba_df.nlargest(n=4, columns="Salary")

                  Name                   Team Position   Birthday    Salary
205      Stephen Curry  Golden State Warriors       PG 1988-03-14  40231758
38          Chris Paul  Oklahoma City Thunder       PG 1985-05-06  38506482
219  Russell Westbrook        Houston Rockets       PG 1988-11-12  38506482
251          John Wall     Washington Wizards       PG 1990-09-06  38199000

In [75]:
nba_df.nsmallest(n=3, columns=["Birthday"])

              Name             Team Position   Birthday   Salary
98    Vince Carter    Atlanta Hawks       PF 1977-01-26  2564753
196  Udonis Haslem       Miami Heat        C 1980-06-09  2564753
262    Kyle Korver  Milwaukee Bucks       PF 1981-03-17  6004753

In [76]:
nba_df.sum(skipna=True, numeric_only=True)

Salary    3444112694
dtype: int64

In [77]:
nba_df.mean(numeric_only=True)

Salary    7.653584e+06
dtype: float64

In [78]:
nba_df.median(numeric_only=True)

Salary    3303074.5
dtype: float64

In [79]:
nba_df.mode(numeric_only=True)

   Salary
0   79568

In [82]:
nba_df.sort_values(by="Name", ascending=True).head(8)

                  Name                   Team Position   Birthday    Salary
52        Aaron Gordon          Orlando Magic       PF 1995-09-16  19863636
101      Aaron Holiday         Indiana Pacers       PG 1996-09-30   2239200
437        Abdel Nader  Oklahoma City Thunder       SF 1993-09-25   1618520
81         Adam Mokoka          Chicago Bulls        G 1998-07-18     79568
399  Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
235         Al Horford     Philadelphia 76ers        C 1986-06-03  28000000
263    Al-Farouq Aminu          Orlando Magic       PF 1990-09-21   9258000
14          Alec Burks  Golden State Warriors       SG 1991-07-20   2320044

In [84]:
nba_df.sort_values(by="Birthday", ascending=False).head()

                    Name                  Team Position   Birthday   Salary
136      Sekou Doumbouya       Detroit Pistons       SF 2000-12-23  3285120
432  Talen Horton-Tucker    Los Angeles Lakers       GF 2000-11-25   898310
137      Zion Williamson  New Orleans Pelicans        F 2000-07-06  9757440
313           RJ Barrett       New York Knicks       SG 2000-06-14  7839960
392         Jalen Lecque          Phoenix Suns        G 2000-06-13   898310

In [85]:
nba_df.sort_values(by=["Team", "Name"], ascending=True)

                Name                Team Position   Birthday    Salary
359         Alex Len       Atlanta Hawks        C 1993-06-16   4160000
167     Allen Crabbe       Atlanta Hawks       SG 1992-04-09  18500000
276  Brandon Goodwin       Atlanta Hawks       PG 1995-10-02     79568
438   Bruno Fernando       Atlanta Hawks        C 1998-08-15   1400000
194      Cam Reddish       Atlanta Hawks       SF 1999-09-01   4245720
..               ...                 ...      ...        ...       ...
418     Jordan McRae  Washington Wizards       PG 1991-03-28   1645357
273  Justin Robinson  Washington Wizards       PG 1997-10-12    898310
428    Moritz Wagner  Washington Wizards        C 1997-04-26   2063520
21     Rui Hachimura  Washington Wizards       PF 1998-02-08   4469160
36     Thomas Bryant  Washington Wizards        C 1997-07-31   8000000

[450 rows x 5 columns]

In [87]:
nba = nba_df.sort_values(by=["Team", "Salary"], ascending=[True, False])

In [88]:
nba

                  Name                Team Position   Birthday    Salary
111   Chandler Parsons       Atlanta Hawks       SF 1988-10-25  25102512
28         Evan Turner       Atlanta Hawks       PG 1988-10-27  18606556
167       Allen Crabbe       Atlanta Hawks       SG 1992-04-09  18500000
213    De'Andre Hunter       Atlanta Hawks       SF 1997-12-02   7068360
339      Jabari Parker       Atlanta Hawks       PF 1995-03-15   6500000
..                 ...                 ...      ...        ...       ...
80         Isaac Bonga  Washington Wizards       PG 1999-11-08   1416852
399  Admiral Schofield  Washington Wizards       SF 1997-03-30   1000000
273    Justin Robinson  Washington Wizards       PG 1997-10-12    898310
283   Garrison Mathews  Washington Wizards       SG 1996-10-24     79568
353      Chris Chiozza  Washington Wizards       PG 1995-11-21     79568

[450 rows x 5 columns]

In [89]:
nba.sort_index(ascending=True)

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [90]:
nba = nba.sort_index()

In [91]:
nba

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [94]:
# axis="columns" and axis=1 are equivalent

nba.sort_index(axis="columns", ascending=True)

      Birthday            Name Position    Salary                 Team
0   1996-09-26    Shake Milton       SG   1445697   Philadelphia 76ers
1   1995-09-27  Christian Wood       PF   1645357      Detroit Pistons
2   1998-08-23   PJ Washington       PF   3831840    Charlotte Hornets
3   1988-10-04    Derrick Rose       PG   7317074      Detroit Pistons
4   1995-07-26   Marial Shayok        G     79568   Philadelphia 76ers
..         ...             ...      ...       ...                  ...
445 1992-08-01   Austin Rivers       PG   2174310      Houston Rockets
446 1998-04-22     Harry Giles       PF   2578800     Sacramento Kings
447 1988-04-01     Robin Lopez        C   4767000      Milwaukee Bucks
448 1999-01-04   Collin Sexton       PG   4764960  Cleveland Cavaliers
449 1990-10-21     Ricky Rubio       PG  16200000         Phoenix Suns

[450 rows x 5 columns]

In [106]:
nba = nba.set_index(keys="Name")

In [107]:
pd.read_csv(
    "nba.csv", 
    parse_dates=["Birthday"], 
    index_col="Name", 
    date_format="%Y-%m-%d", 
    dayfirst=False
).dtypes

Team        object
Position    object
Birthday    object
Salary       int64
dtype: object

In [108]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

# Selecting columns and rows from a DataFrame

## Selecting columns

In [110]:
nba.Salary   # the same as nba["Salary"]

Name
Shake Milton       1445697
Christian Wood     1645357
PJ Washington      3831840
Derrick Rose       7317074
Marial Shayok        79568
                    ...
Austin Rivers      2174310
Harry Giles        2578800
Robin Lopez        4767000
Collin Sexton      4764960
Ricky Rubio       16200000
Name: Salary, Length: 450, dtype: int64

In [111]:
nba["Salary"]

Name
Shake Milton       1445697
Christian Wood     1645357
PJ Washington      3831840
Derrick Rose       7317074
Marial Shayok        79568
                    ...
Austin Rivers      2174310
Harry Giles        2578800
Robin Lopez        4767000
Collin Sexton      4764960
Ricky Rubio       16200000
Name: Salary, Length: 450, dtype: int64

In [113]:
nba[["Salary", "Birthday"]]

                  Salary   Birthday
Name
Shake Milton     1445697 1996-09-26
Christian Wood   1645357 1995-09-27
PJ Washington    3831840 1998-08-23
Derrick Rose     7317074 1988-10-04
Marial Shayok      79568 1995-07-26
...                  ...        ...
Austin Rivers    2174310 1992-08-01
Harry Giles      2578800 1998-04-22
Robin Lopez      4767000 1988-04-01
Collin Sexton    4764960 1999-01-04
Ricky Rubio     16200000 1990-10-21

[450 rows x 2 columns]

In [118]:
nba.select_dtypes(include=["object", "datetime"], exclude=None)

                               Team Position   Birthday
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26
Christian Wood      Detroit Pistons       PF 1995-09-27
PJ Washington     Charlotte Hornets       PF 1998-08-23
Derrick Rose        Detroit Pistons       PG 1988-10-04
Marial Shayok    Philadelphia 76ers        G 1995-07-26
...                             ...      ...        ...
Austin Rivers       Houston Rockets       PG 1992-08-01
Harry Giles        Sacramento Kings       PF 1998-04-22
Robin Lopez         Milwaukee Bucks        C 1988-04-01
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04
Ricky Rubio            Phoenix Suns       PG 1990-10-21

[450 rows x 3 columns]

In [117]:
nba.select_dtypes(exclude=["object", "int"])

                 Birthday
Name
Shake Milton   1996-09-26
Christian Wood 1995-09-27
PJ Washington  1998-08-23
Derrick Rose   1988-10-04
Marial Shayok  1995-07-26
...                   ...
Austin Rivers  1992-08-01
Harry Giles    1998-04-22
Robin Lopez    1988-04-01
Collin Sexton  1999-01-04
Ricky Rubio    1990-10-21

[450 rows x 1 columns]

## Selecting Rows

In [119]:
nba.loc["LeBron James"]

Team         Los Angeles Lakers
Position                     PF
Birthday    1984-12-30 00:00:00
Salary                 37436858
Name: LeBron James, dtype: object

In [120]:
nba.loc[["Kawhi Leonard", "Paul George"]]

                               Team Position   Birthday    Salary
Name
Kawhi Leonard  Los Angeles Clippers       SF 1991-06-29  32742000
Paul George    Los Angeles Clippers       SF 1990-05-02  33005556

In [124]:
# We can use loc to extract a sequence of index labels. The syntax mirrors Python’s list slicing syntax. 
# We provide the starting value, a colon, and the ending value. For extractions like this one, 
# I strongly recommended sorting the index first, as it accelerates the speed with which pandas finds the value.

nba.sort_index(ascending=True).loc["Otto Porter":"Patrick Beverley"]

                                  Team Position   Birthday    Salary
Name
Otto Porter              Chicago Bulls       SF 1993-06-03  27250576
PJ Dozier               Denver Nuggets       PG 1996-10-25     79568
PJ Washington        Charlotte Hornets       PF 1998-08-23   3831840
Pascal Siakam          Toronto Raptors       PF 1994-04-02   2351838
Pat Connaughton        Milwaukee Bucks       SG 1993-01-06   1723050
Patrick Beverley  Los Angeles Clippers       PG 1988-07-12  12345680

In [125]:
nba.iloc[300]

Team             Denver Nuggets
Position                     PF
Birthday    1999-04-03 00:00:00
Salary                  1416852
Name: Jarred Vanderbilt, dtype: object

In [126]:
nba.iloc[[100, 200, 300, 400]]

                                Team Position   Birthday   Salary
Name
Brian Bowen           Indiana Pacers       SG 1998-10-02    79568
Marco Belinelli    San Antonio Spurs       SF 1986-03-25  5846154
Jarred Vanderbilt     Denver Nuggets       PF 1999-04-03  1416852
Louis King           Detroit Pistons        F 1999-04-06    79568

In [127]:
nba.iloc[400:404]

                                    Team Position   Birthday    Salary
Name
Louis King               Detroit Pistons        F 1999-04-06     79568
Kostas Antetokounmpo  Los Angeles Lakers       PF 1997-11-20     79568
Rodions Kurucs             Brooklyn Nets       PF 1998-02-05   1699236
Spencer Dinwiddie          Brooklyn Nets       PG 1993-04-06  10605600

In [128]:
nba.loc["Giannis Antetokounmpo"]

Team            Milwaukee Bucks
Position                     PF
Birthday    1994-12-06 00:00:00
Salary                 25842697
Name: Giannis Antetokounmpo, dtype: object

In [129]:
nba.loc["Giannis Antetokounmpo", "Team"]

'Milwaukee Bucks'

In [130]:
nba.loc["James Harden", ["Position", "Birthday"]]

Position                     PG
Birthday    1989-08-26 00:00:00
Name: James Harden, dtype: object

In [131]:
nba.loc[
    ["Russell Westbrook", "Anthony Davis"],
    ["Team", "Salary"],
]

                                 Team    Salary
Name
Russell Westbrook     Houston Rockets  38506482
Anthony Davis      Los Angeles Lakers  27093019

In [132]:
nba.loc["Joel Embiid", "Position":"Salary"]

Position                      C
Birthday    1994-03-16 00:00:00
Salary                 27504630
Name: Joel Embiid, dtype: object

In [135]:
nba.iloc[57, 3]

np.int64(796806)

In [136]:
nba.iloc[100:104, :3]

                             Team Position   Birthday
Name
Brian Bowen        Indiana Pacers       SG 1998-10-02
Aaron Holiday      Indiana Pacers       PG 1996-09-30
Troy Daniels   Los Angeles Lakers       SG 1991-07-15
Buddy Hield      Sacramento Kings       SG 1992-12-17

In [137]:
nba.at["Austin Rivers", "Birthday"]

Timestamp('1992-08-01 00:00:00')

In [140]:
nba.iat[263, 1]

'PF'

In [144]:
%timeit nba.at["Austin Rivers", "Birthday"]

5.97 μs ± 157 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [145]:
%timeit nba.loc["Austin Rivers", "Birthday"]

9.53 μs ± 41.3 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

## Extracting values from Series

In [147]:
nba["Salary"].loc["Damian Lillard"]

np.int64(29802321)

In [148]:
nba["Salary"].at["Damian Lillard"]

np.int64(29802321)

In [149]:
nba["Salary"].iat[234]

np.int64(2033160)

In [150]:
nba["Salary"].iloc[234]

np.int64(2033160)

In [151]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [152]:
nba.columns

Index(['Team', 'Position', 'Birthday', 'Salary'], dtype='object')

In [153]:
nba.columns = ['Team', 'Position', 'Date of Birth', 'Pay']

In [154]:
nba

                               Team Position Date of Birth       Pay
Name
Shake Milton     Philadelphia 76ers       SG    1996-09-26   1445697
Christian Wood      Detroit Pistons       PF    1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF    1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG    1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G    1995-07-26     79568
...                             ...      ...           ...       ...
Austin Rivers       Houston Rockets       PG    1992-08-01   2174310
Harry Giles        Sacramento Kings       PF    1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C    1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG    1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG    1990-10-21  16200000

[450 rows x 4 columns]

In [156]:
nba = nba.rename(columns={"Date of Birth": "Birthday"})

In [157]:
nba

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [158]:
nba.loc["Giannis Antetokounmpo"]

Team            Milwaukee Bucks
Position                     PF
Birthday    1994-12-06 00:00:00
Pay                    25842697
Name: Giannis Antetokounmpo, dtype: object

In [159]:
nba = nba.rename(index={"Giannis Antetokounmpo": "Greek Freak"})

In [160]:
nba.loc["Greek Freak"]

Team            Milwaukee Bucks
Position                     PF
Birthday    1994-12-06 00:00:00
Pay                    25842697
Name: Greek Freak, dtype: object

In [161]:
nba

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [162]:
nba.reset_index().head()

             Name                Team Position   Birthday      Pay
0    Shake Milton  Philadelphia 76ers       SG 1996-09-26  1445697
1  Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
2   PJ Washington   Charlotte Hornets       PF 1998-08-23  3831840
3    Derrick Rose     Detroit Pistons       PG 1988-10-04  7317074
4   Marial Shayok  Philadelphia 76ers        G 1995-07-26    79568

In [164]:
nba = nba.reset_index().set_index("Team").head()

In [165]:
nba

                              Name Position   Birthday      Pay
Team
Philadelphia 76ers    Shake Milton       SG 1996-09-26  1445697
Detroit Pistons     Christian Wood       PF 1995-09-27  1645357
Charlotte Hornets    PJ Washington       PF 1998-08-23  3831840
Detroit Pistons       Derrick Rose       PG 1988-10-04  7317074
Philadelphia 76ers   Marial Shayok        G 1995-07-26    79568