In [1]:
import pandas as pd
import numpy as np

In [6]:
nfl = pd.read_csv("nfl.csv", parse_dates=["Birthday"])

nfl

                    Name                  Team Position   Birthday   Salary
0           Tremon Smith   Philadelphia Eagles       RB 1996-07-20   570000
1         Shawn Williams    Cincinnati Bengals       SS 1991-05-13  3500000
2            Adam Butler  New England Patriots       DT 1994-04-12   645000
3            Derek Wolfe        Denver Broncos       DE 1990-02-24  8000000
4              Jake Ryan  Jacksonville Jaguars      OLB 1992-02-27  1000000
...                  ...                   ...      ...        ...      ...
1650    Bashaud Breeland    Kansas City Chiefs       CB 1992-01-30   805000
1651         Craig James   Philadelphia Eagles       CB 1996-04-29   570000
1652  Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
1653         Chuma Edoga         New York Jets       OT 1997-05-25   495000
1654        Tajae Sharpe      Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 5 columns]

In [7]:
nfl.dtypes

Name                object
Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object

In [8]:
pd.read_csv("nfl.csv", parse_dates=["Birthday"], index_col="Name")

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

In [9]:
nfl.set_index("Name")

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

In [10]:
nfl

                    Name                  Team Position   Birthday   Salary
0           Tremon Smith   Philadelphia Eagles       RB 1996-07-20   570000
1         Shawn Williams    Cincinnati Bengals       SS 1991-05-13  3500000
2            Adam Butler  New England Patriots       DT 1994-04-12   645000
3            Derek Wolfe        Denver Broncos       DE 1990-02-24  8000000
4              Jake Ryan  Jacksonville Jaguars      OLB 1992-02-27  1000000
...                  ...                   ...      ...        ...      ...
1650    Bashaud Breeland    Kansas City Chiefs       CB 1992-01-30   805000
1651         Craig James   Philadelphia Eagles       CB 1996-04-29   570000
1652  Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
1653         Chuma Edoga         New York Jets       OT 1997-05-25   495000
1654        Tajae Sharpe      Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 5 columns]

In [35]:
nfl["Team"].value_counts().head()

Team
New York Jets          58
Washington Redskins    56
Kansas City Chiefs     56
New Orleans Saints     55
San Francisco 49Ers    55
Name: count, dtype: int64

In [11]:
nfl.sort_values(by="Team")

                Name                 Team Position   Birthday   Salary
99      Kenyan Drake    Arizona Cardinals       RB 1994-01-26  2025000
772      Chris Banjo    Arizona Cardinals       FS 1990-02-26   850000
155    Pharoh Cooper    Arizona Cardinals       WR 1995-03-07   720000
452    Justin Murray    Arizona Cardinals       OT 1993-04-19   570000
460   Kevin Peterson    Arizona Cardinals       CB 1994-03-22   570000
...              ...                  ...      ...        ...      ...
734   Dustin Hopkins  Washington Redskins        K 1990-10-01  2275000
1598    Nate Orchard  Washington Redskins       DE 1993-01-05   805000
683         Cam Sims  Washington Redskins       WR 1996-01-06   495000
786    Simeon Thomas  Washington Redskins       CB 1993-09-22   495000
1308  Quinton Dunbar  Washington Redskins       CB 1992-07-22  3000000

[1655 rows x 5 columns]

In [18]:
nfl.nlargest(5, columns="Salary")["Name"]

180        Kirk Cousins
905      Marcus Mariota
1623     Jameis Winston
1343         Derek Carr
150     Jimmy Garoppolo
Name: Name, dtype: object

In [36]:
nfl.sort_values(by="Salary", ascending=False).head()

                 Name                  Team Position   Birthday    Salary
180      Kirk Cousins     Minnesota Vikings       QB 1988-08-19  27500000
905    Marcus Mariota      Tennessee Titans       QB 1993-10-30  20922000
1623   Jameis Winston  Tampa Bay Buccaneers       QB 1994-01-06  20922000
1343       Derek Carr       Oakland Raiders       QB 1991-03-28  19900000
150   Jimmy Garoppolo   San Francisco 49Ers       QB 1991-11-02  17200000

In [19]:
nfl.sort_values(by=["Team", "Salary"], ascending=[True, False])

                    Name                 Team Position   Birthday    Salary
1577      Chandler Jones    Arizona Cardinals      OLB 1990-02-27  16500000
669     Patrick Peterson    Arizona Cardinals       CB 1990-07-11  11000000
1361    Larry Fitzgerald    Arizona Cardinals       WR 1983-08-31  11000000
1594       David Johnson    Arizona Cardinals       RB 1991-12-16   5700000
948          Justin Pugh    Arizona Cardinals        G 1990-08-15   5000000
...                  ...                  ...      ...        ...       ...
1109  Ross Pierschbacher  Washington Redskins        C 1995-05-05    495000
1325       Kelvin Harmon  Washington Redskins       WR 1996-12-15    495000
1344          Wes Martin  Washington Redskins        G 1996-05-09    495000
1345      Jimmy Moreland  Washington Redskins       CB 1995-08-26    495000
1509       Jeremy Reaves  Washington Redskins       SS 1996-08-29    495000

[1655 rows x 5 columns]

In [32]:
nfl[nfl["Team"] == "New York Jets"].nsmallest(n=1, columns="Birthday")

           Name           Team Position   Birthday   Salary
888  Ryan Kalil  New York Jets        C 1985-03-29  2400000

In [37]:
nfl

                    Name                  Team Position   Birthday   Salary
0           Tremon Smith   Philadelphia Eagles       RB 1996-07-20   570000
1         Shawn Williams    Cincinnati Bengals       SS 1991-05-13  3500000
2            Adam Butler  New England Patriots       DT 1994-04-12   645000
3            Derek Wolfe        Denver Broncos       DE 1990-02-24  8000000
4              Jake Ryan  Jacksonville Jaguars      OLB 1992-02-27  1000000
...                  ...                   ...      ...        ...      ...
1650    Bashaud Breeland    Kansas City Chiefs       CB 1992-01-30   805000
1651         Craig James   Philadelphia Eagles       CB 1996-04-29   570000
1652  Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
1653         Chuma Edoga         New York Jets       OT 1997-05-25   495000
1654        Tajae Sharpe      Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 5 columns]

In [42]:
new_nfl = nfl.set_index("Team")

new_nfl

                                    Name Position   Birthday   Salary
Team
Philadelphia Eagles         Tremon Smith       RB 1996-07-20   570000
Cincinnati Bengals        Shawn Williams       SS 1991-05-13  3500000
New England Patriots         Adam Butler       DT 1994-04-12   645000
Denver Broncos               Derek Wolfe       DE 1990-02-24  8000000
Jacksonville Jaguars           Jake Ryan      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Kansas City Chiefs      Bashaud Breeland       CB 1992-01-30   805000
Philadelphia Eagles          Craig James       CB 1996-04-29   570000
New York Jets         Jonotthan Harrison        C 1991-08-25  1500000
New York Jets                Chuma Edoga       OT 1997-05-25   495000
Tennessee Titans            Tajae Sharpe       WR 1994-12-23  2025000

[1655 rows x 4 columns]

In [55]:
(
    new_nfl
    .loc["New York Jets"]
    .sort_values(by="Birthday", ascending=True)
    .head(1)
    .squeeze()
    .loc["Name"]
)

'Ryan Kalil'