In [1]:
import pandas as pd
import numpy as np

In [2]:
city_data = {
    "City": ["New York City", "Paris", "Barcelona", "Rome"],
    "Country": ["United States", "France", "Spain", "Italy"],
    "Population": [8600000, 2141000, 5515000, 2873000],
}

cities = pd.DataFrame(data=city_data)
cities

            City        Country  Population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

In [5]:
cities.transpose()           # This is equivalent to "cities.T"

                        0        1          2        3
City        New York City    Paris  Barcelona     Rome
Country     United States   France      Spain    Italy
Population        8600000  2141000    5515000  2873000

In [6]:
random_data = np.random.randint(1, 101, [3, 5])
random_data

array([[64, 33, 26, 16, 41],
       [43, 33, 76,  5, 70],
       [ 5, 45, 94, 77, 35]])

In [7]:
pd.DataFrame(random_data)

    0   1   2   3   4
0  64  33  26  16  41
1  43  33  76   5  70
2   5  45  94  77  35

In [8]:
row_labels = ("Morning", "Afternoon", "Evening")
temperatures = pd.DataFrame(
    data=random_data, index=row_labels
)
temperatures

            0   1   2   3   4
Morning    64  33  26  16  41
Afternoon  43  33  76   5  70
Evening     5  45  94  77  35

In [10]:
# We can manually set the row labels with the DataFrame constructor’s index parameter
# We can set the column names with the constructor’s columns parameter.

# Pandas permits duplicates in the row and column indices.

row_labels = ("Morning", "Afternoon", "Morning")
column_labels = (
    "Monday",
    "Tuesday",
    "Wednesday",
    "Tuesday",
    "Friday",
)
pd.DataFrame(
    data=random_data,
    index=row_labels,
    columns=column_labels,
)

           Monday  Tuesday  Wednesday  Tuesday  Friday
Morning        64       33         26       16      41
Afternoon      43       33         76        5      70
Morning         5       45         94       77      35